.App {
}

.App-weekday-tabs {
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
}

.App-weekday {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 10px;
  align-items: center;
}

.App-weekday--active {
  background-color: #f8f9fa;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
